<div class="nightlife">
                    <h2><span>Night</span>life</h2>
                    <div class="box">
                        <ul >
                            <li> <img src="images/img1.png" alt="">
                                <h3>Cosmic's Night Live: Greasy Cafe</h3>
                                <p>Greasy Café returns to Cosmic Café once more with a full band and a proper big stage after a packed-out performance at the same venue Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit neque nec risus imperdiet tempor. In rhoncus viverra lacus, sed posuere nibh scelerisque sollicitudin..</p>
                                <a href="#" class="button" title="Read more">read more</a> </li>
                            <li> <img src="images/img2.png" alt="">
                                <h3>Cosmic's Night Live: Greasy Cafe</h3>
                                <p>Greasy Café returns to Cosmic Café once more with a full band and a proper big stage after a packed-out performance at the same venue Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit neque nec risus imperdiet tempor. In rhoncus viverra lacus, sed posuere nibh scelerisque sollicitudin..</p>
                                <a href="#" class="button" title="Read more">read more</a> </li>
                            <li> <img src="images/img3.png" alt="">
                                <h3>Cosmic's Night Live: Greasy Cafe</h3>
                                <p>Greasy Café returns to Cosmic Café once more with a full band and a proper big stage after a packed-out performance at the same venue Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit neque nec risus imperdiet tempor. In rhoncus viverra lacus, sed posuere nibh scelerisque sollicitudin..</p>
                                <a href="#" class="button" title="Read more">read more</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="entertainment">
                    <h2><span>Enter</span>tainment</h2>
                    <div class="box">
                        <ul >
                            <li>
                                <h3>Pubs, Bars & Lounges</h3>
                                <img src="images/img1.png" alt="">
                                <p>With its cosmopolitan bars and posh cocktail lounges, City is a very easy place to quench your thirst. Expect everything from locally brewed ales to creative cocktails.</p>
                                <a href="#" class="button" title="Read more">read more</a> </li>
                            <li>
                                <h3>Ladies Night Out in City</h3>
                                <img src="images/img2.png" alt="">
                                <p>With its cosmopolitan bars and posh cocktail lounges, City is a very easy place to quench your thirst. Expect everything from locally brewed ales to creative cocktails.</p>
                                <a href="#" class="button" title="Read more">read more</a> </li>
                            <li>
                                <h3>Nana Plaza</h3>
                                <img src="images/img2.png" alt="">
                                <p>With its cosmopolitan bars and posh cocktail lounges, City is a very easy place to quench your thirst. Expect everything from locally brewed ales to creative cocktails.</p>
                                <a href="#" class="button" title="Read more">read more</a> </li>
                            <li>
                                <h3>Nightlife <br>
                                    Reviews</h3>
                                <img src="images/img2.png" alt="">
                                <p>With its cosmopolitan bars and posh cocktail lounges, City is a very easy place to quench your thirst. Expect everything from locally brewed ales to creative cocktails.</p>
                                <a href="#" class="button" title="Read more">read more</a> </li>
                        </ul>
                    </div>
                </div>
