<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='css' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p.nightlife>Welcome to <%= title %></p>
  </body>
</html>